[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
hypothesis = "*"
responses = "*"

[packages]
py2neo = "*"
neo4j-driver = "*"
requests = "*"
ratelimit = "*"

[requires]
python_version = "3.6"
