[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
hypothesis = "*"
responses = "*"
pandas = "*"

[packages]
networkx = "*"
neo4j = "==4.3.4"
requests = "*"
ratelimit = "*"
backoff = "*"
py2neo = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.9"
